<% if model.errors.any? %>
  <div>
    <h3 class="text-danger"><%= model.errors.count %>件のerrorが発生しました。</h3>
    <ul>
      <% model.errors.full_messages.each do |message| %>
        <li class="text-danger"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>