<%= render 'books/side', create: @create %>



<div>
  <%= @book.title %>
  <%= @book.opinion %>
  <% if @book.user == current_user %>
    <%= link_to "Destroy", book_path(@book), method: :delete %>
  <% end %>
</div>